/* LR Booking Styles */
.container {
  width: 96%;
  max-width: 1200px;
  margin-top: 17px;
  padding: 0px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #7a99b8;
  color: white;
  text-align: left;
  font-size: 12px;
  height: 11px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: -27px;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.row {
  height: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.row label {
  height: 14px;
  font-size: 10px;
  font-weight: bold;
  min-width: 100px;
  text-align: left;
}

.row input {
  flex: 1;
  padding: 5px;
  font-size: 12px;
  max-height: 11px;
  min-height: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.lrBookingSelect {
  max-height: 11px;
  min-height: 11px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th, .table td {
  height: 13px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 12px;
}

.addRowButton {
  background-color: #5a8eb7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
}

.addRowButton:hover {
  background-color: #4a7ea3;
}

.unitText {
  margin-left: 4px;
  font-size: 12px;
  color: #555;
}
.totalAmount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
 position: relative;
 left: -62px;
}

.totalAmountLabel {
  margin-right: 10px;
  margin-top: 10px;
 
}

.totalAmountInput {
  padding: 5px;
  font-size: 12px;
  max-height: 12px;
  min-height: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  
}

.button {
  display: block;
  width: 100%;
  background-color: #7a99b8;
  color: white;
  padding: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
}

.button:hover {
  background-color: #5a8eb7;
}
.row select {
  flex: 1;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.lrBookingSelect {
  max-height: 11px ;
  min-height: 11px ;
}
